*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
.navbar{
    border-bottom: 1px solid black;
    width:100%;
    max-width: 1536px;
    margin: 0px auto;
    display:flex;
    justify-content: space-between ;
    align-items: center;
    flex-grow: horizontal;
    gap: 32px;
    padding: 16px 120px;

}
#one{
    color: #FFFFFF;
}
#two{
    color: #30B868;
}
.navbar-middle{
  
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
.navbar-middle a{
    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
    color: 474747;
}

.banner-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  display: inline-flex;          /* aligns icon & text */
  align-items: center;           /* vertical center */
  gap: 8px;                      /* space between icon & text */

  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;                /* better than 100% */
  padding: 12px 16px;
  border-radius: 4px;
  border: none;

  white-space: nowrap;           /* keeps text in one line */
  cursor: pointer;
}

.btn:hover {
  background-color: #a7670e;
}

.icon {
  width: 16px;
  height: 16px;
}

/* Optional secondary button style */
.secondary {
  background-color: transparent;
  color: #469165;
  border: 2px solid #469165;
}

.secondary:hover {
  background-color: #469165;
  color: #ffffff;
}

.banner-content{
    height: 645px;
    background-image: url('../assets/hero-bg.png'); 
    background-size: cover;   
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;

}
#banner-early-access{
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #30B868;
    padding: 8px 12px;
    flex-grow: horizontal;
    border-radius: 1000px;
    margin-bottom: 16px;
    background-color: #FFFFFF;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84%;
    color: #FFFFFF;
}
.banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 720px;
}
.banner-content .banner-buttons{
    display: flex;
    gap: 16px;
    margin-top: 24px;
  width: fit-content;
  padding: 10px 20px;
  white-space: nowrap;

}

.notes{
    width:100%;
    max-width: 1536px;
    margin: 0px auto;
    padding: 16px 120px;
}
.notes-header{
    width: 85%;
    max-width: 1306px;
    margin: 0px auto;
    text-align: center;
}
.notes-header h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color:#001931;
    margin-bottom: 16px;
    padding-top: 40px
}
.notes-header p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.notes-content{
    width: 85%;
    max-width: 1306px;   
    margin: 0px auto;
    gap: 24px;
    margin-top: 42px;
    display: flex;          
    margin: 0 auto;     
    justify-content: center;
    text-align: center;   
}


.notes-content .note-card{
    background-color: #FFFFFF;
    border: 1px solid #E1E5EB;
    border-radius: 8px;
    padding: 24px 10px;
    width: 100%;
    max-width: 320px;
    box-shadow  : 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    
}   
.notes-content .note-card .note-title h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #001931;
    margin: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.note-card .img{
    height: 44px;
    background-color: #F95555;
    width: 44px;
    border-radius: 50px;
    margin-bottom: 16px;
    display: flex;  
    align-items: center;     
    justify-content: center; 
    margin: 0 auto;
}
#Brain{
    width:100%;
    max-width: 1536px;
    margin: 0px auto;
    padding: 16px 120px;


}

#Brain .brain-flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#Brain .brain-content{
    max-width: 600px;
    margin-left: 64px;
}
#Brain .brain-content .brain-section-msg{
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color:#469165;
    margin-bottom: 16px;
    text-transform: uppercase;
}
#Brain .brain-content .brain-section-title h1{
    font-size: 42px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    color:#001931;
    margin-bottom: 16px;
    text-transform: capitalize;
   

}
#Brain .brain-content .brain-section-subtitle{
    font-size: 16px;
    font-weight: 400;
    font-style: regular;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
   font: inter;
}

#Brain .brain-content .brain-section-subtitle p{
    background-color: #FFFFFF;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-style: regular;
    font-weight: 600;
    line-height: 100%;
    
   text-decoration: none;
    
    border: none;
    cursor: pointer;
}
.list-item li{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
}
.list-item ul {
    list-style-type: none;
     margin-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    
   
}
.list-item .icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: #30B868;
    

    
   
}

